body,  
.post-content code {  
  font-family: "LXGW WenKai Mono TC", sans-serif;  
}  
.lxgw-wenkai-mono-tc-light {
  font-family: "LXGW WenKai Mono TC", serif;
  font-weight: 300;
  font-style: normal;
}

.lxgw-wenkai-mono-tc-regular {
  font-family: "LXGW WenKai Mono TC", serif;
  font-weight: 400;
  font-style: normal;
}

.lxgw-wenkai-mono-tc-bold {
  font-family: "LXGW WenKai Mono TC", serif;
  font-weight: 700;
  font-style: normal;
}

